<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="m-3">コーディネート一覧</h4>
    </div>
    <div class="col text-right m-3">
      <%= link_to "+", new_admin_cordinate_path, class:"btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th>コーディネートID</th>
            <th>コーディネート名</th>
            <th>季節</th>
          </tr>
        </thead>
        <tbody>
          <% @cordinates.each do |cordinate| %>
          <tr>
            <td><%= cordinate.id %></td>
            <td><%= link_to cordinate.title,admin_cordinate_path(cordinate.id) %></td>
            <td><%= cordinate.season.name %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
      <%= paginate @cordinates %>
    </div>
  </div>
</div>
