<div class="container">
    <div>
        <div class="border border-dark my-3 p-3">
          <%= form_tag(root_path, method: :get) do %>
          <p>季節検索</p>
            <ul class="row">
              <%#= f.label :season_id, class: 'form_season_label' %>
              <%# @seasons.each do |season| %>
               <%#= f.collection_radio_buttons, link_to season.name, cordinates_path(season_id: season.id), class: "text-secondary" %>
               <%= collection_radio_buttons nil, :season_id, Season.all, :id, :name, {checked: params[:season_id]} %>
              <%# end %>
            </ul>
            <%= submit_tag "検索", name: nil %>
            <%= link_to "リセット", root_path %>
          <% end %>
        </div>
      <div>
         <h2>コーディネート一覧 (全<%= @cordinates.count %>件)</h2>
           <div class="container row">
             <% @cordinates.each do |cordinate| %>
            <div class="pr-5 pb-5 col-3">
              <%= link_to cordinate_path(cordinate) do %>
                <%= image_tag cordinate.get_image(150,100) %>
              <% end %>
               <div><%= cordinate.title %></div>
            </div>
       <% end %>
       </div>
       <%= paginate @cordinates, theme: 'bootstrap-5' %>
     </div>
    </div>
</div>