<div class="container">
  <%= link_to 'この商品を見る', items_path(@cordinate), class: 'btn btn-success' %>
  <h2 class="text-center my-5">コーディネート詳細</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div style="padding-left:20%;">
        <%= image_tag @cordinate.get_image(300,200) %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="my-4"><strong>コーディネート名 </strong><span style="margin-left:150px;"><%= @cordinate.title %></span></p>
      <p class="my-4"><strong>コーディネート説明 </strong><span style="margin-left:135px;"><%= @cordinate.introduction %></span></p>
      <p class="my-4"><strong>コーディネート季節 </strong><span style="margin-left:135px;"><%= @cordinate.season.name %></span></p>
     <p id="like_buttons_<%= @cordinate.id %>">
      <%= render "users/likes/like", cordinate: @cordinate %>
    </p>
    </div>
  </div>
</div>
