<!DOCTYPE html>
<html>
  <head>
    <title>Style seasons</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<a class= href="#">style seasons</a>-->
        <%= link_to "style seasons", root_path, class: "mb-1 navbar-brand " %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <%= link_to users_show_path, class:"nav-link text-light" do %>
                 <i class="fa-solid fa-house"></i> マイページ
               <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>

          <% elsif admin_signed_in? %>

            <li class="nav-item">
              <%= link_to admin_items_path, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> 商品一覧
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_path, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> コーディネート一覧
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_seasons_path, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> 季節登録
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to admin_users_path, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> ユーザー一覧
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
                <i class="fa-solid fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>

            <% else %>

              <li class="nav-item">
                <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-sign-out-alt"></i> 新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                  <i class="fa-solid fa-sign-out-alt"></i> ログイン
                <% end %>
              </li>
            <% end %>

          </ul>
          <% unless admin_signed_in? %>
            <%= form_with url:  cordinate_search_path, method: :get, local: true, class:"form-inline my-2 my-lg-0" do |f| %>
              <%= f.text_field :title, placeholder:"search",class:"form-control mr-sm-2" %>
              <%= f.submit "検索", class:"btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          <% end %>
        </div>
      </nav>
    <%= yield %>
    <footer>
      <div class='container mt-5'>
      	<div class='row'>
        	<div class='mx-auto'>
        		<p> <%= link_to root_path do %>
        		　トップに戻る
                <% end %>
            </p>
        	</div>
        </div>
      </div>
    </footer>
  </body>
</html>
